<div>
    <h1>
        {{#each testProducts}}
            <p>
                producto = {{this.title}}
            </p>
            <p>
                su precio = {{this.price}}
            </p>
            <p>
                cantidad = {{this.stock}}
            </p>
            <p>
                ID = {{this.id}}
            </p>
        {{/each}}
    </h1>
</div>